.BrainhubCarousel__container {
  height: 0;
  padding-top: 40%;
  box-sizing: border-box;
}
.BrainhubCarousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.BrainhubCarousel__dot::before {
  width: 12px !important;
  height: 12px !important;
  @apply bg-white #{!important};
}
.BrainhubCarousel__dot--selected::before {
  @apply bg-primary #{!important};
}
.custom-checkbox{
  @apply relative; 
  @apply border; 
  @apply border-black;
  @apply rounded-sm; 
  @apply w-4; 
  @apply h-4;
  @apply cursor-pointer;
}
.custom-checkbox-checked{
  @extend .custom-checkbox;
  @apply text-primary; 
  @apply border-primary; 
}