.BrainhubCarousel__container {
  height: 0;
  padding-top: 40%;
  box-sizing: border-box;
  position: relative;
  @screen lg {
    width: 90% !important;
    margin: auto;
    margin-top: 2rem;
    @apply container;
  }
  @screen xl {
    width: 88% !important;
  }
  @screen 2xl {
    width: 86% !important;
  }
}
.BrainhubCarousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.BrainhubCarousel__dot::before {
  width: 12px !important;
  height: 12px !important;
  background: rgba(0, 0, 0, 0.2);
}
.BrainhubCarousel__dot--selected::before {
  @apply bg-primary #{!important};
}
.quill {
  .ql-editor {
    min-height: 800px;
  }
}
